<h1>Add New Movie</h1>
<div class="well">
  <form action="/add_movie" method="post" autocomplete="off">
    <label for="title">What is the movie's title?</label>
    <input type="text" name="title"><br>

    <label for="genre">What is the movie's genre?</label>
    <input type="text" name="genre"><br>

    <label for="actors">Who stars in the movie?</label>
    <input type="text" name="actors"><br>

    <button type="submit" name="button">Add Movie</button>
  </form>
</div>

<h5 class="return"><a href="/admin"> Return to Admin</a></h5>
