<h1>Movie Box Admin</h1>

<h2>In Stock Movies:</h2>
<div class="row">
<% @movies.each do |movie| %>
  <div class="col-md-3">

  <div class="well">
    <p><strong>Title:</strong> <%= movie.title %></p>
    <p><strong>Actors:</strong> <%= movie.actors %></p>
    <p><strong>Genre:</strong> <%= movie.genre%></p>
    <a href="/edit_movie/<%= movie.id %>"> edit </a>
  </div>
</div>
<% end %>
</div>


<h2>Checked Out Movies:</h2>


<h4 class="return"><a href="/add_movie"> Add Movie</a></h4>
<h5 class="return"><a href="/"> Return to Login:</a></h5>
