<h1>Create Profile:</h1>
<div class="well">
  <form action="/log_in" method="post" autocomplete="off">
    <label for="name">What is your name?</label>
    <input type="text" name="name"><br>
    <button type="submit" name="button" class="btn btn-success">Create Profile</button>
  </form>
</div>

<h5><a href="/patron"> Return to Movie Box</a></h5>
